fieldset {
    margin-bottom: 1rem;
}

ul.footer-copyright {
    display: inline;
    font-size: 0.85rem;
}

ul.footer-copyright > li {
    display: inline-block;
    list-style-type: disc;
}

ul.footer-copyright > li > a {
    color: white;
}

.text-small {
    font-size: 0.75rem;
}

.text-tiny {
    font-size: 0.6rem;
}

.pagination li a {
    padding: 0 9px;
}
